extends default

block content
	div.titleArea
		h1 #{snakeName}'s Daily Monitor
	div.dataEntryDisplayBlock
		h2.enclosureTitle Enclosure Data:
		hr.horizontalSeparator
		form.formGrid(action="submitEnclosureData" method="post")
			i.entryIcon.coolIcon.far.fa-snowflake
			input.textEntry.coolInput(type="text" name="inputCoolSide" placeholder="Cool Side F°" required)
			i.entryIcon.warmIcon.fab.fa-gripfire
			input.textEntry.warmInput(type="text" name="inputWarmSide" placeholder="Warm Side F°" required)
			i.entryIcon.humidIcon.fas.fa-cloud
			input.textEntry.humidInput(type="text" name="inputHumidity" placeholder="Humidity %" required)
			button.submitButton(type="submit" name="button") Chart It
		div.chartArea.tempArea
			canvas#tempChart(style="height: 300px; width: 100%")
		div.chartArea.humidArea
			canvas#humidChart(style="height: 300px; width: 100%")

		script.
			window.onload = () => {
					// Load data from node
					var highTempData = [#{highTempData}];
					var lowTempData = [#{lowTempData}];
					var tempChartLabels = !{JSON.stringify(tempChartLabels)};
					var humidData = [#{humidData}];
					var humidChartLabels = !{JSON.stringify(humidChartLabels)};
					
					// Create the temperature chart
					var tempCanvas = document.getElementById("tempChart").getContext('2d');
					var tempChart = new Chart(tempCanvas, {
							type: 'line',
							data: {
									labels: tempChartLabels,
									datasets: [{
											label: 'Warm Side',
											data: highTempData,
											backgroundColor: '#CBA',
											borderColor: '#EDC',
											borderWidth: 5
									},
									{
										label: 'Cool Side',
										data: lowTempData,
										backgroundColor: '#ABC',
										borderColor: "#CDE",
										borderWidth: 5
										}]
							},
							options: {
								elements: {
									line: {
										tension: 0,
										fill: false
									}
								},
									scales: {
											yAxes: [{
													ticks: {
															suggestedMin: 70,
															suggestedMax: 100
													}
											}]
									}
							}
					});
					
					// Create the humidity chart
					var humidCanvas = document.getElementById('humidChart').getContext('2d');
					var humidChart = new Chart(humidCanvas, {
						type: 'line',
						data: {
							labels: humidChartLabels,
							datasets: [{
								label: 'Humidity',
								data: humidData,
								backgroundColor: '#ABD',
								borderColor: "#CDF",
								borderWidth: 5
							}]
						},
						options: {
							elements: {
								line: {
									tension: 0,
									fill: false
								}
							},
							scales: {
								yAxes: [{
									ticks: {
										suggestedMin: 40,
										suggestedMax: 90
									}
								}]
							}
						}
					});
				}
