extends default

block content
	div.titleArea
		h1 #{snakeName}'s Daily Monitor
	div.dataEntryDisplayBlock
		h2.enclosureTitle Enclosure Data:
		hr.horizontalSeparator
		form.formGrid(action="/cage/submit" method="post")
			i.entryIcon.coolIcon.far.fa-snowflake
			input#coolSide.textEntry.coolInput(type="text" name="coolSide" placeholder="Cool Side F°" required)
			i.entryIcon.warmIcon.fab.fa-gripfire
			input#warmSide.textEntry.warmInput(type="text" name="warmSide" placeholder="Warm Side F°" required)
			i.entryIcon.humidIcon.fas.fa-cloud
			input#humidity.textEntry.humidInput(type="text" name="humidity" placeholder="Humidity %" required)
			button.submitButton(type="submit" name="button") Chart It
		div.chartArea.tempArea
			canvas#tempChart(style="height: 300px; width: 100%")
		div.chartArea.humidArea
			canvas#humidChart(style="height: 300px; width: 100%")

		script.
			// Load data from node for charts in scripts.js
			var highTempData = [#{highTempData}];
			var lowTempData = [#{lowTempData}];
			var tempChartLabels = !{JSON.stringify(tempChartLabels)};
			var humidData = [#{humidData}];
			var humidChartLabels = !{JSON.stringify(humidChartLabels)};
			
		script(src="./javascript/scripts.js")
