extends default

block content

  // Include the reptile selections
  include reptiSelect.pug
  
  // Set the page layout
  div#infoPage.infoPageGrid
    
    // Weight & Size & Age
    div.measurementArea.contentGrid
      h3.fancyText.h3Size.textEffectC.borderA.gradientC Growth
      div.borderD.solidColorC.medEvenPad
        p.standardText To keep track of #{nameOfSelected}'s growth, take measurements each month and enter them here.
        hr
        form.startFlex.medBotMarg(method="post" action="info/measurements")
          div.entryArea.borderC.entryColorC.mb-2
            label.fancyText.entryIcon.width-75.righted Age:
            input.entryInput.hidden(type="text" placeholder="Enter their weight here,")
            p.entryInput.basicText.solidColorC #{ageOfSelected}
            button.entryButton.clickItem.hoverItem(onclick="") Edit

          div.entryArea.borderC.entryColorC.mb-2
            label.fancyText.entryIcon.width-75.righted Weight:
            input.entryInput(type="text" placeholder="Enter their weight here,")
            button.entryButton.clickItem.hoverItem(onclick="") kg

          div.entryArea.borderC.entryColorC.mb-2
            label.fancyText.entryIcon.width-75.righted Length:
            input.entryInput(type="text" placeholder="length here,")
            button.entryButton.clickItem.hoverItem(onclick="") cm

          div.entryArea.borderC.entryColorC.mb-3
            label.fancyText.entryIcon.width-75.righted Girth:
            input.entryInput(type="text" placeholder="and their girth here.")
            button.entryButton.clickItem.hoverItem(onclick="") cm

          button.buttonTypeA.gradientB.hoverItem.clickItem.p-2.mb-2(type="submit")
              label.fancyText Chart It
              i.fas.fa-share.turn90.ml-1
        div.borderA
            canvas.chart
 
    // Vet Info
    div.healthArea.contentGrid
        h3.fancyText.h3Size.textEffectC.borderA.gradientC Health
        div.borderD.solidColorC.medEvenPad
          p.standardText Save veterinary and health information
          hr
          div.mb-2.p-2
            label.fancyText Veterinary Info
            form#vetForm.p-2
              p#vetEditInstructions.hidden Editing Vet Info...
              div.entryArea.borderC.entryColorB.mb-2
                label.basicText.entryIcon.width-150.righted Preferred Vet:
                input.entryInput.hidden(type="text")
                p.entryInput.basicText.solidColorC The Dragon Doctor
                button.entryButton.clickItem.hoverItem(onclick="editVet()") Edit
              div.entryArea.borderC.entryColorB.mb-2
                label.basicText.entryIcon.width-150.righted Next Vist:
                input.entryInput.hidden(type="text")
                p.entryInput.basicText.solidColorC N/A
              div.entryArea.borderC.entryColorB.mb-2  
                label.basicText.entryIcon.width-150.righted Previous Visit:
                input.entryInput.hidden(type="text")
                p.entryInput.basicText.solidColorC N/A
              div.entryArea.borderC.entryColorB.mb-2  
                label.basicText.entryIcon.width-150.righted Phone #:
                input.entryInput.hidden(type="text")
                p.entryInput.basicText.solidColorC 406-333-4444
              div.entryArea.borderC.entryColorB.mb-2  
                label.basicText.entryIcon.width-150.righted Email:
                input.entryInput.hidden(type="text")
                p.entryInput.basicText.solidColorC ryuuisha@dd.party
              div.entryArea.borderC.entryColorB.mb-2
                label.basicText.entryIcon.width-150.righted Address:
                input.entryInput.hidden(type="text")
                p.entryInput.basicText.solidColorC 333 Broadway Ave. Missoula MT, 59801
          div.p-2
            label.fancyText Pathology
            form.p-2
              div.entryArea.borderC.entryColorB.mb-2
                label.basicText.entryIcon.width-200.righted Current Illness:
                input.entryInput.hidden(type="text")
                p.entryInput.basicText.solidColorC N/A
                button.entryButton.clickItem.hoverItem(onclick="") Edit
              div.entryArea.borderC.entryColorB
                label.basicText.entryIcon.width-200.righted Previous Illnesses:
                input.entryInput.hidden(type="text")
                p.entryInput.basicText.solidColorC N/A

    // Morph
    div.morphArea.contentGrid
      h3.fancyText.h3Size.textEffectC.borderA.gradientC Morph
      div.borderD.solidColorC.medEvenPad
        p.standardText Here you can store the pattern and colors on your reptile(s).
        hr  
        div.entryArea.borderC.entryColorA
          p.entryIcon.width-min.basicText #{nameOfSelected}'s morph:
          select.entryInput
            option(value="Blue Eyed Leucistic") Blue Eyed Leucistic
        div.startFlex.medBotMarg
          p.standardText(style="align-self: flex-end") #{nameOfSelected}'s morph colors:
          div#selectedColors.startFlex
            
        
        button#colorToggle.buttonTypeA.gradientB.hoverItem.clickItem.p-2.mb-2(onclick="toggle('colorToggle', 'colorOptions')") Show Colors
          i.fas.fa-angle-right.turn90(style="margin-left: 5px")
        div#colorOptions.hidden
          p.standardText Choose your reptile's morph colors below:
          form.colorFlex(id="colorForm" action="/info/morph_colors" method="post")

            
    // Handling and Mood
    div.moodArea.contentGrid
      h3.fancyText.h3Size.textEffectC.borderA.gradientC Mood
      div.borderD.solidColorC.medEvenPad
        p.standardText Some reptiles can be a bit moody. Track their handling and how they tend to react here.
        hr
        form.p-2
          div.entryArea.borderC.entryColorB.mb-2
            label.basicText.entryIcon.width-200.righted Last handled:
            input.entryInput.hidden(type="text")
            p.entryInput.basicText.solidColorC N/A
            button.entryButton.clickItem.hoverItem(onclick="") Edit
          div.entryArea.borderC.entryColorB
            label.basicText.entryIcon.width-200.righted #{nameOfSelected}'s mood':
            select.entryInput.basicText.solidColorC(type="text")
              option(value="Non-Stressed/Happy") Non-Stressed/Happy
              option(value="A bit stressed") A bit stressed
              option(value="Very stressed (will bite)") Very stressed (will bite)
                
    // Bring in the scripts for this page
    script(src="/javascript/infoScripts.js")