// User's Reptile Choice Area
div.m-2.rounded.selectBorder.heavy-rain-gradient.d-flex.align-items-center
	div.bg-dark.d-flex.justify-content-center.align-items-center.width-50.align-self-stretch.selectSeparator
		h2.basicText.text-warning.text-size-16.rotated Select Reptile:	
	div#reptile_id(name="reptile_id", data-id=selected._id)
	div.flex-grow-1
		div#carouselControl(data-ride="carousel" data-interval="false").carousel.slide
			div.carousel-inner
				- let reptiPages = [];
				- let pageBlank = [];
				- let activeIndex = 0;
				// Loop over the reptiles, adding 3 at a time to the pages
				- for (let i = 0; i < reptiles.length; i++) {
					- pageBlank.push(reptiles[i]);					
					- if (pageBlank.length >= 5) { // add a full page and reset
						- reptiPages.push(pageBlank);
						- pageBlank = [];
					- }
					// if on the last reptile, put it in the pages
					- if (reptiles.length - 1 - i === 0 && pageBlank.length < 5 && pageBlank.length > 0) reptiPages.push(pageBlank);
				- }
				// Loop over the pages to find the selected reptile and active carousel page
				- for (let i = 0; i < reptiPages.length; i++) {
					- for (let j = 0; j < reptiPages[i].length; j++) {
						- if (reptiPages[i][j]._id === selected._id) {
							- activeIndex = i;
						- }
					- }
				- }

				each page, index in reptiPages
					if index === activeIndex
						div.carousel-item.active
							ul.d-flex.justify-content-center.noBullets
								each reptile in page
									if reptile._id === selected._id
										li.hoverItem.clickItem.tuchit.m-2.selectedReptile(id=reptile._id)
											include reptiPictureLinks.pug
									else
										li.hoverItem.clickItem.tuchit.m-2.unselectedReptile(id=reptile._id)
											include reptiPictureLinks.pug
					else
						div.carousel-item
							ul.d-flex.justify-content-center.noBullets
								each reptile in page
									if reptile._id === selected._id
										li.hoverItem.clickItem.tuchit.m-2.selectedReptile(id=reptile._id)
											include reptiPictureLinks.pug
									else
										li.hoverItem.clickItem.tuchit.m-2.unselectedReptile(id=reptile._id)
											include reptiPictureLinks.pug

			a(href="#carouselControl" role="button" data-slide="prev").carousel-control-prev
				span(aria-hidden="true").carousel-control-prev-icon
				span.sr-only Previous
			a(href="#carouselControl" role="button" data-slide="next").carousel-control-next
				span(aria-hidden="true").carousel-control-next-icon
				span.sr-only Next
	ul.d-flex.flex-column.noBullets
		// Create icons to add and remove reptiles
		li.hoverItem.clickItem.tuchit.m-2.button-border.rounded
			a(href="/monitoring/create_reptile").d-flex.linkWithText
				div.bg-white.rounded-left.border-right.border-info.p-1
					img(src="/images/add-icon.png" width="40px" height="40px" alt="Add Icon")
				div.dusty-grass-gradient.rounded-right.width-100.d-flex.justify-content-center.align-items-center
					p.fancyText.text-dark Add
				
		li.hoverItem.clickItem.tuchit.m-2.button-border.rounded
			a(href="/monitoring/remove_reptile/"+selected._id).d-flex.linkWithText
				div.bg-white.rounded-left.border-right.border-info.p-1
					img(src="/images/minus-icon.png" width="40px" height="40px" alt="Remove Icon")
				div.ripe-malinka-gradient.rounded-right.width-100.d-flex.justify-content-center.align-items-center
					p.fancyText.text-dark Remove
			//
				div.d-flex.flex-wrap.flex-grow-1.carousel.slide
					// Make an icon for each reptile
					if reptiles && selected
						each reptile in reptiles
							if reptile.name === selected.name
								li.hoverItem.clickItem.tuchit.m-2.selectedReptile(id=reptile._id)
									include reptiPictureLinks.pug
							else
								li.hoverItem.clickItem.tuchit.m-2.unselectedReptile(id=reptile._id)
									include reptiPictureLinks.pug
			
			
				
